# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

#minecraft
.gradle/
.settings/
.project
bin/
crash-reports/
logs/
config/
mods/
saves/
resourcepacks/
options.txt
usercache.json
usernamecache.json
